<div class="span-15 colborder">
	<h3>Thank you for registering</h3>
	<div>
		<div class="widget-padding block">
			<%= "#{@person.profile.join("<br />")}".html_safe %>
			<div id="company" class="holder">
				<% if @person.company %>
				<h4>Company Info</h4>
				<%= "#{@person.company_profile.join("<br />")}".html_safe unless nil? %>
				<p class="info">If your company info is incomplete or inaccurate, <%= link_to "please edit here", edit_company_path(@person.company.id) unless @person.company.nil? %></p>
				<% end %>
				<% if @person.interests %>
					<div id="interests" class="holder">
						<h4>Interests</h4>
						<% @person.interests.each do |interest| %>
							<%= interest.name %><br />
						<% end %>
					</div>
				<% end %>
				<% if @person.promotions %>
					<div id="promotions" class="holder">
						<h4>Promotion Media:</h4>
						<% @person.promotions.each do |promotion| %>
							<%= promotion.name %><br />
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="widget-padding block">
			<%= link_to '<span class="pen icon"></span>Edit'.html_safe, edit_person_path(@person), :class => 'button primary' %>
			
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="span-6">
	<% if app_event %>
	<div id="eventinfo">
		<%= render 'people/event_info' %>
	</div>
		<%= link_to "Back to #{@app_event.name} website", "#{@app_event.website}" %><br />
	<% end %>
	<%= link_to "Register someone else", new_person_path %>
</div>


