<h2>Edit Name Badge</h2>
<%= form_for @name_badge do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :width %>
  <%= f.text_field :width %>
  </p>
  <p>
  <%= f.label :height %>
  <%= f.text_field :height %>
  </p>
  <h3>Margins</h3>
  <p>
  <%= f.label :top %>
  <%= f.text_field :top %>
  </p>
  <p>
  <%= f.label :bottom %>
  <%= f.text_field :bottom %>
  </p>
  <p>
  <%= f.label :left %>
  <%= f.text_field :left %>
  </p>
  <p>
  <%= f.label :right %>
  <%= f.text_field :right %>
  </p>
	<p>
  <%= f.label :fon_size %>
  <%= f.text_field :font_size %>
  </p>
  <%= f.submit "Save" %>
<% end %>