<h2><%= @name_badge.name %></h2>
<div class="menu">
<%= link_to "Edit", edit_name_badge_path(@name_badge) %>
</div>
<div>
	Size: <%= @name_badge.width %> x <%= @name_badge.height %><br />
	Margins:<br />
	Left: <%= @name_badge.left %><br />
	Right: <%= @name_badge.right %><br />
	Top: <%= @name_badge.top %><br />
	Bottom: <%= @name_badge.bottom %><br />
	Font size: <%= @name_badge.font_size %>
</div>