<h1>Detalle de etiqueta</h1>

<p><%= h(@label.name) %></p>
<p>Medidas: <%= h(@label.width) %>pts ancho x <%= h(@label.height) %>pts alto</p>
<p>Margenes:<br />
	Superior: <%= h(@label.top)  unless @label.top.nil? %><br />
	Inferior: <%= h(@label.bottom) unless @label.bottom.nil? %><br />
	Izquierdo: <%= h(@label.left) unless @label.left.nil? %><br />
	Derecho: <%= h(@label.right) unless @label.right.nil? %>
</p>
<p><%= link_to "Editar", edit_label_path(@label), :class=> 'as_button' %></p>