<div class="pads">
<% semantic_form_for @user do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label "Registro "%>
		<%= f.input :registration, :as => :select, :label => false, :prompt => "Seleccione..." %>
	</p>
	<p>
		<%= f.label "Nombre(s) " %><br />
		<%= f.text_field :fname %>
	</p>
	<p>
		<%= f.label "Apellido(s)" %><br />
		<%= f.text_field :lname %>
	</p>
	<p>
		<%= f.label "Email" %><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label "Puesto" %><br />
		<%= f.text_field :job %>
	</p>
	<p>
		<%= f.label "Departamento" %><br />
		<%= text_field_with_auto_complete :user, :department_name, { :size => 30 }, { :url => formatted_departments_path(:js), :method => :get, :with => "'search=' + element.value" } %>
	</p>
	<p>
		<%= f.label "Empresa" %><br />
		<%= text_field_with_auto_complete :user, :company_name, { :size => 30 }, { :url => formatted_companies_path(:js), :method => :get, :with => "'search=' + element.value" } %>
	</p>
	<% if intereses? %>
		<p>
			<%= f.label "Sus intereses en el evento"%>
			<%= f.input :interests, :as => :check_boxes, :label => false %>
		</p>
	<% end %>
	<% if promos? %>
		<p>
			<%= f.label "&iquest;C&oacute;mo se enter&oacute; del evento?"%>
			<%= f.input :promos, :as => :check_boxes, :label => false %>
		</p>
	<% end %>
	<%= f.submit "Registrar" %>
<% end %>
</div>