{
"sEcho": <%=h @sEcho %>,
"iTotalRecords": <%= @iTotalRecords %>,
"iTotalDisplayRecords": <%= @iTotalDisplayRecords %>,
"aaData": [ 
<% @companies.each do |company| %>
   ["<a href='<%= url_for(company) %>'><%= company.name %></a> | <%= pluralize(company.people.count, 'persona') %>"<%= "]," unless company == @companies.last %>
<% end %>
   ]
]
}