<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
<div class="pads">
<p class="pads" id="help">Configurar :registrame es muy sencillo, tan sólo sigue los siguientes pasos 
y todo estará listo para funcionar correctamente.</p>

<ul>
  <li><%= link_to "Define los tipos de registro", registrations_path %> que pueden escoger los asistentes al evento, por ejemplo, Visitante o Expositor, o cualquier otro concepto.</li>
  <li>La aplicación puede llevar el registro de los intereses del asistente en el evento, si quiere llevar este registro, entonces <%= link_to "agregue Intereses en el evento.", interests_path %></li>
  <li>También puede llevar el registro sobre cómo se enteró el asistente sobre el evento, para hacerlo, <%= link_to "agregue medios de promoción primero.", promos_path %></li>
  <li>Si los registros de asistentes van a relacionarse con sus respectivas empresas, puede categorizar las empresas por sectores. Para hacerlo, sólo tiene que <%= link_to "agregar sectores", sectors_path %> a los que pudieran pertencer las empresas.</li>
  <li>Si lo requiere, la aplicación puede crear gafetes para los asistentes.
	<% if gafete? %> 
	Usted ya tiene configurado un gafete. <%= link_to "Puede editar su tamaño si lo desea.", edit_label_path(Label.first) %></li>
	<% else %>
	Para poder hacerlo, primero necesita <%= link_to "configurar el tamaño del gafete.", new_label_path %></li>
	<% end %>
</ul>
</div>
</div>