<div class="pads">
<% semantic_form_for @company do |f| %>
	<%= f.error_messages %>
<p>
	<%= f.label "Empresa " %><br />
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label "Direcci&oacute;n (calle y n&uacute;mero)" %><br />
	<%= f.text_field :address1 %>
</p>
<p>
	<%= f.label "Direcci&oacute;n (colonia, etc.)" %><br />
	<%= f.text_field :address2 %>
</p>
<p>
	<%= f.label "Ciudad" %><br />
	<%= f.text_field :city %>
</p>
<p>
	<%= f.label "Estado" %><br />
	<%= text_field_with_auto_complete :company, :state_name, { :size => 30 }, { :url => formatted_states_path(:js), :method => :get, :with => "'search=' + element.value" } %>
</p>
<p>
	<%= f.label "C&oacute;digo Postal" %><br />
	<%= f.text_field :zip %>
</p>
<p>
	<%= f.label "Pa&iacute;s" %><br />
	<%= text_field_with_auto_complete :company, :country_name, { :size => 30 }, { :url => formatted_countries_path(:js), :method => :get, :with => "'search=' + element.value" } %>
</p>
<p>
	<%= f.label "Tel." %><br />
	<%= f.text_field :phone %>
</p>
<p>
	<%= f.label "Website" %><br />
	<%= f.text_field :website %>
</p>
<% if sectores? %>
<p>
	<%= f.label "Sector al que pertenece" %><br />
	<%= f.input :sector, :as => :radio, :label => false %>
</p>
<% end %>
<%= f.submit "Registrar" %>
<% end %>
</div>