<% semantic_form_for @company do |f| %>
		<p>
	    <%= f.label :name, "Nombre" %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :address1, "Direccion" %><br />
	    <%= f.text_field :address1 %>
	  </p>
	  <p>
	    <%= f.label :address2, "Col." %><br />
	    <%= f.text_field :address2 %>
	  </p>
	  <p>
	    <%= f.label :city, "Ciudad" %><br />
	    <%= f.text_field :city %>
	  </p>
	  <p>
	    <%= f.label :state_name, "Estado" %><br />
	    <%= f.text_field :state_name %>
	  </p>
	  <p>
	    <%= f.label :country_name, "Pais" %><br />
	    <%= f.text_field :country_name %>
	  </p>
		<% if sectors? %>
			<p>
		    <%= f.label :sector_id, "Sector" %><br />
		    <%= f.input :sector, :as => :radio, :label => false %>
		  </p>
		<% end %>
		<%= f.submit "Agregar" %>
<% end %>

