<h1>Companies#new</h1>

<% semantic_form_for @company do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label "Empresa " %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Direccion (calle y numero)" %><br />
		<%= f.text_field :address1 %>
	</p>
	<p>
		<%= f.label "Direccion (colonia, etc.)" %><br />
		<%= f.text_field :address2 %>
	</p>
	<p>
		<%= f.label "Ciudad" %><br />
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label "Estado" %><br />
		<%= text_field_with_auto_complete :company, :state_name, { :size => 30 }, { :url => formatted_states_path(:js), :method => :get, :with => "'search=' + element.value" } %>
	</p>
	<p>
		<%= f.label "Codigo Postal" %><br />
		<%= f.text_field :zip %>
	</p>
	<p>
		<%= f.label "Pais" %><br />
		<%= text_field_with_auto_complete :company, :country_name, { :size => 30 }, { :url => formatted_countries_path(:js), :method => :get, :with => "'search=' + element.value" } %>
	</p>
	<p>
		<%= f.label "Tel." %><br />
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label "Website" %><br />
		<%= f.text_field :website %>
	</p>
	<p>
		<%= f.label "Sector al que pertenece" %><br />
		<%= f.input :sector, :as => :radio %>
	</p>
	<%= f.submit "Agregar" %>
<% end %>
