<div>
	<div>
		<div class="widget-padding block">
			<div class="holder">
				<%= "#{@person.profile.join("<br />")}".html_safe %>
			</div>
			<div id="company" class="holder">
				<% if @person.company %>
					<%= "#{@person.company_profile.join("<br />")}".html_safe unless nil? %>
				<% end %>
				<div class="full">
					<%= link_to '<span class="check icon"></span>Print Badge'.html_safe, data_person_path(@person, :format => :pdf), :class => 'button left positive primary' %> <%= link_to '<span class="pen icon"></span>Edit'.html_safe, edit_data_person_path(@person), :class => 'button middle' %> <%= link_to '<span class="trash icon"></span>Delete'.html_safe, data_person_path(@person), :method => :delete, :confirm => "Are you sure?", :class => 'button right negative' %>
				</div>
			</div>
		</div>
		<div class="widget-padding block">
			<% if @person.interests %>
				<div id="interests" class="holder">
					<h3>Interests</h3>
					<% @person.interests.each do |interest| %>
						<%= interest.name %><br />
					<% end %>
				</div>
			<% end %>
			<% if @person.promotions %>
				<div id="promotions" class="holder">
					<h3>Promotion Media:</h3>
					<% @person.promotions.each do |promotion| %>
						<%= promotion.name %><br />
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

