<div id="header" class="span-24 last">
	<div id="nav">
		<%= link_to "Users", admin_users_path, :class => 'big left pill button' %>
		<%= link_to "Sectors", admin_sectors_path, :class => 'big middle pill button' %>
		<%= link_to "Interests", admin_interests_path, :class => 'big middle pill button' %>
		<%= link_to "Promotion Media", admin_promotions_path, :class => 'big middle pill button' %>
		<%= link_to "Registration Types", admin_registrations_path, :class => 'big middle pill button' %>
		<%= link_to 'Name Badge', name_badges_path, :class => 'big middle pill button' %>
		<%= link_to "Log out", destroy_user_session_path, :class => 'big right pill button' %>
	</div>
</div>
