<h1>Reportes</h1>

<div id="stats">
	<div class="grid_8 alpha">
		<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all dash">
			<h2 class="ui-widget-header ui-helper-clearfix ui-corner-top">Registros totales</h2>
			<table>
				<tbody>
					<% @registrations.each do |registration| %>
					<tr>
						<td><%= h(registration.name) %></td>
						<td><%= h(registration.users.count) %></td>
					</tr>
					<% end %>
					<tr>
						<td>Total</td>
						<td><%= h(@users.size) %></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<% if gafete? %>
		<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all dash">
			<h2 class="ui-widget-header ui-helper-clearfix ui-corner-top">Gafetes</h2>
			<table>
				<tbody>
					
					<tr>
						<td>Gafetes generados </td>
						<td><%= h(User.attendee.count)%></td>
					</tr>

					<tr>
						<td>Total</td>
						<td><%= h(@users.size) %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
	<% if promos? or intereses? %>
	<div class="grid_8 omega">
		<% if intereses? %>
		<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all dash">
			<h2 class="ui-widget-header ui-helper-clearfix ui-corner-top">Registros por Inter&eacute;s</h2>
			<table>
				<tbody>
					<% @interests.each do |interest| %>
					<tr>
						<td><%= h(interest.name) %></td>
						<td><%= h(interest.users.count) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
		<% if promos? %>
		<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all dash">
			<h2 class="ui-widget-header ui-helper-clearfix ui-corner-top">Registros por Medio de promoci&oacute;n</h2>
			<table>
				<tbody>
					<% @promos.each do |promo| %>
					<tr>
						<td><%= h(promo.name) %></td>
						<td><%= h(promo.users.count) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
	<% end %>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="userreport">
	<table id="results">
		<thead>
	    	<tr>
				<th>Registro</th>
	      		<th>Nombre</th>
				<th>Email</th>
				<th>Puesto</th>
				<th>Departamento</th>
				<th>Empresa</th>
				<th>Direccion</th>
				<th>Ciudad</th>
				<th>Estado</th>
				<th>CP</th>
				<th>Pais</th>
				<th>Tel.</th>
				<th>Website</th>
				<th>Sector</th>
				<th>Intereses</th>
				<th>Como se entero</th>
	    	</tr>
	    </thead>
		<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= h(user.registration.name) %></td>
			<td><%= h(user.full_name) %></td>
			<td><%= h(user.email) %></td>
			<td><%= h(user.job) %></td>
			<td><%= h(user.department.name) unless user.department.nil? %></td>
			<td><%= h(user.company.name) unless user.company.nil? %></td>
			<td><%= [user.company.address1, user.company.address2].join(' - ').to_s unless user.company.nil? %></td>
			<td><%= h(user.company.city) unless user.company.nil? %></td>
			<td><%= h(user.company.state.name) unless user.company.nil? or user.company.state.nil? %></td>
			<td><%= h(user.company.zip) unless user.company.nil? %></td>
			<td><%= h(user.company.country.name) unless user.company.nil? or user.company.country.nil? %></td>
			<td><%= h(user.company.phone) unless user.company.nil? %></td>
			<td><%= h(user.company.website) unless user.company.nil? %></td>
			<td><%= h(user.company.sector.name) unless user.company.nil? or user.company.sector.nil? %></td>
			<td><% user_interests = []
				   user.interests.each do |interest|
					user_interests << interest.name
				   end
			%>
				<%= user_interests.join(', ').to_s %>
			</td>
			<td><% user_promos = []
				   user.promos.each do |promo|
					user_promos << promo.name
				   end
			%>
				<%= user_promos.join(', ').to_s %>
			</td>
		</tr>
		<% end %>
		</tbody>
		<tfoot>
			<tr>
				<th><input type="text" name="search_engine" value="Tipos de Registro" class="search_init" /></th>
				<th><input type="text" name="search_browser" value="Nombre" class="search_init" /></th>
				<th><input type="text" name="search_platform" value="Email" class="search_init" /></th>
				<th><input type="text" name="search_version" value="Puesto" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Departamentos" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Empresas" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Direccion" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Ciudad" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Estado" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="CP" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Paises" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Tels." class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Websites" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Sectores" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Intereses" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Medios de promocion" class="search_init" /></th>
			</tr>
		</tfoot>
	</table>
</div>
