<div id="header" class="span-24 last">
	<div id="nav" class="prepend-1">
	<%= link_to '<span class="plus icon"></span>New Attendee'.html_safe, new_data_person_path, :class => 'big left pill button' %>
	<%= link_to '<span class="user icon"></span>Attendees'.html_safe, data_people_path, :class => 'big middle pill button' %>
  <%= link_to '<span class="home icon"></span>Companies'.html_safe, data_companies_path, :class => 'big middle pill button' %>
  <%= link_to '<span class="book icon"></span>Name Badge'.html_safe, name_badges_path, :class => 'big middle pill button' %>
	<%= link_to "Log out", destroy_user_session_path, :class => 'big right pill button' %>
	</div>
</div>