<div id="header" class="grid_16">
	<div id="logo" class="grid_6 alpha">
		<img src="/images/registrame-logo.png" />
	</div>
	<div id="navigation" class="grid_6 prefix_1 omega">
		<div id="nav-menu">
			<ul id="nav" class="dropdown dropdown-horizontal">
				<li><%= link_to "Registros", users_path %></li>
				<li><%= link_to "Empresas", companies_path %></li>
				<li><span class="dir">Admin</span>
					<ul class="submenu">
						<% if gafete? %>
							<li><%= link_to "Gafete", label_path(Label.first) %></li>
						<% else %>
							<li><%= link_to "Configurar gafete", new_label_path %></li>
						<% end %>
						<li><%= link_to "Departamentos", departments_path %></li>
						<li><%= link_to "Estados", states_path %></li>
						<li><%= link_to "Intereses", interests_path %></li>
						<li><%= link_to "Medios de promoci&oacute;n", promos_path %></li>
						<li><%= link_to "Pa&iacute;ses", countries_path %></li>
						<li><%= link_to "Sectores", sectors_path %></li>
						<li><%= link_to "Tipos de Registro", registrations_path %></li>
						<li><%= link_to "Reportes", reports_path %></li>
					</ul>
				</li>
			</ul>
		</div>
		
	</div>
	<div class="clear"></div>
</div>