<div id="header" class="grid_16">
	<div id="logo" class="grid_4">
		<%= link_to image_tag("registrame-logo.png"), root_path %>
	</div>
	<div class="clear"></div>
	<div id="navigation" class="ui-widget-header ui-helper-clearfix ui-corner-all pads">
		<div class="grid_8 alpha">
			<h1><%= h(@title) %></h1>
		</div>
		<div class="grid_7 omega" id="nav-menu">
			<ul id="nav" class="dropdown dropdown-horizontal">
				<li><%= link_to "Registros", users_path %></li>
				<li><%= link_to "Empresas", companies_path %></li>
				<li><span class="dir">Configuraci&oacute;n</span>
					<ul class="submenu">
						<% if gafete? %>
							<li><%= link_to "Gafete", label_path(Label.first) %></li>
						<% else %>
							<li><%= link_to "Configurar gafete", new_label_path %></li>
						<% end %>
						<li><%= link_to "Departamentos", departments_path %></li>
						<li><%= link_to "Estados", states_path %></li>
						<li><%= link_to "Intereses", interests_path %></li>
						<li><%= link_to "Medios de promoci&oacute;n", promos_path %></li>
						<li><%= link_to "Pa&iacute;ses", countries_path %></li>
						<li><%= link_to "Sectores", sectors_path %></li>
						<li><%= link_to "Tipos de Registro", registrations_path %></li>
						<li><%= link_to "Reportes", reports_path %></li>
						<li><%= link_to "Ayuda", help_path %></li>
					</ul>
				</li>
			</ul>
		</div>
		
	</div>
	<div class="clear"></div>
</div>