<!DOCTYPE html>
<html>
<head>
  <title>Registrame02</title>
  <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'css3buttons', 'aristo/jquery-ui-1.8.7.custom', 'demo_table', 'demo_table_jui', 'application', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'screen, projection' %><![endif]-->
  <%= javascript_include_tag 'jquery.min', 'rails.jquery1-5', 'jquery-ui-1.8.11.custom.min', 'jquery.uniform.min', 'jquery.dataTables.min', 'json.htmTable', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper" class="container">
    <div id="header" class="span-24 last">
			<div id="nav" class="prepend-1">
			<%= link_to '<span class="plus icon"></span>Registrar asistente'.html_safe, new_person_path, :class => 'big left pill button' %>
      <%= link_to '<span class="plus icon"></span>Agregar empresa'.html_safe, new_company_path, :class => 'big middle pill button' %>
			<%= link_to '<span class="user icon"></span>Asistentes'.html_safe, people_path, :class => 'big middle pill button' %>
      <%= link_to '<span class="home icon"></span>Empresas'.html_safe, companies_path, :class => 'big middle pill button' %>
      <%= link_to '<span class="book icon"></span>Gafete'.html_safe, name_badges_path, :class => 'big right pill button' %>
			</div>
    </div>
    <div id="main" class="span-24 last">
      <div class="content">
      	<% flash.each do |key, value| %>
	        <div class='flash <%= key %>' id='<%= key %>'>
	          <%= value %>
	        </div>
	      <% end %>
	      <%= yield %>
      </div>
    </div>
    <div id="footer" class="span-24 last">
      <div class="content">
      	&copy; Hecho en Ruby 2011. Todos los derechos reservados. Esta es una obra en progreso  y protegida bajo los terminos de la licencia creative commons.
      </div>
    </div>
  </div>
</body>
</html>

