<!DOCTYPE html>
<html>
<head>
  <title>:registra.me</title>
  <!-- stylesheet_link_tag 'screen', :media => 'screen, projection' -->
  <!-- stylesheet_link_tag 'css3buttons', 'jquery-ui-1.8.7.custom', 'demo_table', 'demo_table_jui', 'formtastic', 'uniform.aristo', 'TableTools', 'superfish', 'application', :media => 'screen, projection' -->
	<%= stylesheet_link_tag 'consolidated', :media => 'screen, projection', :cache => true %>
  <%= stylesheet_link_tag 'print', :media => 'print', :cache => true %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'screen, projection', :cache => true %><![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper" class="container">
		<div id="header" class="span-24 last">
			<div class="prepend-1">
				<%= image_tag "registrame-logo.png" %>
			</div>
			<%= logged_user? %>
		</div>
    <div id="main" class="span-24 last">
      <div class="content">
      	<% flash.each do |key, value| %>
	        <div class='flash <%= key %>' id='<%= key %>'>
	          <%= value %>
	        </div>
	      <% end %>
	      <%= yield %>
      </div>
    </div>
    <div id="footer" class="span-24 last">

    </div>
  </div>
	<div id="footer" class="container">
		<div class="content span-24 last">
			<div class="span-18">
				&copy; Hecho en Ruby 2011. All rights reserved. This is a work-in-progress and protected under the terms of Creative Commons License.
			</div>
			<div class="span-6 last">
				<% if user_signed_in? %>
					Logged in as <%= current_user.email %>
				<% else %>
					<%= link_to "Login", data_root_path %>
				<% end %>
			</div>
    </div>
	</div>
	<!-- for development purpose -->
	<!-- javascript_include_tag 'jquery.min', 'rails', 'rails.validations', 'jquery-ui', 'jquery.dataTables', 'TableTools.min', 'ZeroClipboard', 'jquery.maskedinput-1.3.min', 'jquery.uniform.min', 'superfish', 'jquery.bgiframe.min', 'hoverIntent', 'application' -->
	<%= javascript_include_tag 'jquery.min', 'rails', 'jquery-ui', 'consolidated.min', 'ZeroClipboard', 'application.min', :cache => true %>
</body>
</html>

